
#app #login-page {
    width: 90%;
    margin: 0 auto;
}
#app .form {
    position: relative;
    background: #FFFFFF;
    max-width: 900px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#app .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#app .form input[type=button] {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.2s ease 0.1s;
    transition: all 0.2s ease 0.1s;
    cursor: pointer;
}
#app .form input[type=button]:hover, #app .form input[type=button]:active, #app .form input[type=button]:focus {
    background: #43A047;
}
#app .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
#app .form .message a {
    color: #4CAF50;
    text-decoration: none;
}
#app .form{
    display: none;
}
#app .form.form_active {
    display: block;
}
