
#app #login-page {
    width: 90%;
    margin: 0 auto;
}
#app .form {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    background: rgba(0, 127, 128, 0.68);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
    border: 1px solid rgba(128, 255, 255, 0.25);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
#app .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#app .form input[type=button] {
    text-transform: uppercase;
    outline: 0;
    background: rgba(255, 160, 52, 0.88);
    opacity: 1.0;
    color: rgba(255, 255, 255, 0.75);
    width: 50%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease 0.1s;
    transition: all 0.2s ease 0.1s;
    cursor: pointer;
}
#app .form input[type=button]:hover, #app .form input[type=button]:active, #app .form input[type=button]:focus {
    opacity: .8;
}
#app .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
#app .form .message a {
    color: #4CAF50;
    text-decoration: none;
}
#app .form{
    display: none;
}
#app .form.form_active {
    display: block;
}
