/*
  基本要素
*/
body {
    font-size: 16px;
    font-family: sans-serif;
    color: #343434;
    width: 100vw;
    height: 100vh;
}
body::-webkit-scrollbar {
    display:none;
}

h1 {
    text-align: center;
    font-weight: normal;
}

th{
    text-align: center;
}

#title_logo{
    display: block;
    margin: 0 auto;
    max-height: 10vh;
    width: auto;
}

/*====================================================================
#navBar ナビバー
====================================================================*/
#navBar {
    background-color: #222222;
    color: white;
    width: 100vw;
}
#navBar ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 0 auto;
    padding: 6px;
    list-style-type: none;
}
#navBar li{
    min-width: 0;
    display: block;
    border-radius: 25px;
    padding: 12px 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#navBar li:hover{
    background-color: #8cae47;
}

.fixedBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 125;
}
/*====================================================================
#panel パネル
====================================================================*/
#panel {
    width: 60%;
    background: #222222;
    margin: 10px auto 10px;
    padding: 10px 10px;
}
#randomSelect{
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding: 10px 10px;
}
#randomLevel, #randomRelational, #randomSelectButton{
    margin: 10px;
}
/*====================================================================
#table_int アコーディオン内の表
====================================================================*/
#app .ac_one{
    width: 80%;
    height: auto;
}

#app .ac_one .ac_inner #table_int{
    width: 100%;
    min-width: 100px;
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}
#app .ac_one .ac_inner #table_int th{
    border-collapse: collapse;
    border: 1px solid;
    font-size: 2vmin;
}

#app .ac_one .ac_inner #table_int  tbody tr td{
    border-collapse: collapse;
    border: 1px solid;
    font-size: 1.8vmin;
}
#app .ac_one .ac_inner #table_int #th_symbol{
    width: 9%;
}
#app .ac_one .ac_inner #table_int #th_lamp{
    width: 4%;
}
#app .ac_one .ac_inner #table_int tbody tr #td_lamp img{
    width: 100%;
    height: auto;
    /*max-height: 6em;*/
    margin : 0 auto;
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    object-fit: cover;
    cursor: pointer;
}
#app .ac_one .ac_inner #table_int #th_jacket{
    width: 5%;
}
#app .ac_one .ac_inner #table_int tbody tr #td_jacket img{
    width: 100%;
    height: auto;
    max-height: 6em;
    margin : 0 auto;
    display: flex;
    vertical-align: middle;
    object-fit: cover;
    align-items: flex-start;
}

#app .ac_one .ac_inner #table_int #th_title{
    width: 28%;
}
#app .ac_one .ac_inner #table_int #th_artist{
    width: 15%;
}
#app .ac_one .ac_inner #table_int #th_author{
    width: 13%;
}
#app .ac_one .ac_inner #table_int #th_level{
    width: 10%;
}
#app .ac_one .ac_inner #table_int tbody tr #td_symbol{
    text-align: center;
}
#app .ac_one .ac_inner #table_int tbody tr #td_level{
    text-align: center;
}
#app .ac_one .ac_inner #table_int #th_score{
    width: 16%;
}
#app .ac_one .ac_inner #table_int tbody tr #td_score{
    text-align: center;
}
/*====================================================================
#app .ac_one
====================================================================*/
#app .ac_one {
    width: 80%;
    max-width: 1200px;
    min-width: 200px;
    margin: 0 auto;
}
#app .ac_one .ac_header {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 11%;
    text-align: center;
    position: relative;
    z-index: +1;
    cursor: pointer;
    transition-duration: 0.2s;
}

#app .ac_one .ac_header:hover {
    opacity: .8;
}
#app .ac_one .ac_header .i_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    /*margin-top: -20px;*/
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
}
#app .ac_one .ac_header .i_box .one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
}
#app .ac_one .ac_header.open .i_box {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
#app .ac_one .ac_header .i_box .one_i:before, #app .ac_one .ac_header .i_box .one_i:after {
    display: flex;
    content: '';
    background-color: #fff;
    border-radius: 10px;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
}
#app .ac_one .ac_header .i_box .one_i:before {
    width: 4px;
    height: 18px;
    top: 0;
    left: 7px;
}
#app .ac_one .ac_header.open .i_box .one_i:before {
    content: none;
}
#app .ac_one .ac_header.open .i_box .one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#app .ac_one .ac_inner {
    display: none;
}
#app .ac_one .ac_inner .box_one {
    height: auto;
}
#app .ac_one .ac_inner p.txt_a_ac {
    margin: 0;
}

/*====================================================================
#popup
====================================================================*/

.popup {
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 555;
}

.popup_content{
    background: #fff;
    width: 40%;
    min-width: 200px;
    max-width: 900px;

}

.popup_show {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*====================================================================
.box_info (editInfo のテーブル)
====================================================================*/

.box_info{
    height: 100%;
    word-break: break-all;
    word-wrap: break-word;
}


.tate {
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content:space-around;
    min-height: 20vh;
    max-height: 35vh;
    min-width: 60%;
    background-color: aliceblue;
}

.wrap{
    height: fit-content;
    display:flex;
    justify-content:space-around;
    /*max-height: 20%;*/
    /*max-width: 100vw;*/
    padding: 1em;
}

@media screen and (min-width:1000px) {
    .wrap {
        flex-flow: row;
    }
}

@media screen and (max-width:1000px) {
    .wrap {
        flex-flow: column;
    }
    #editInfo_jacket {

    }
}

#editInfo_jacket {
    width: 100%;
    object-fit: contain;
}

#editInfo_jacket_container{
    object-fit: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    /*width: fit-content;*/
}


#editInfo_title{
    /*min-width: 30vw;*/
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin: 1% 1% 0.5%;
}
#editInfo_artist{
    /*min-width: 30vw;*/
    text-align: center;
    font-size: 80%;
    margin-bottom: 0.5%;
}

#button_popup_close{
    display:flex;
    justify-content:flex-end;
}

#lamp_menu{
    text-align: center;
    width: 8.5em;
    margin-bottom: 1%;
}
#score_box_container{
    flex-shrink: 0;
}
#score_box_container input[type="text"]{
    width: 8em;
}
#score_box{
    text-align: center;
    margin-bottom: 5%;
}
